@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

:root {
  /* --brand: oklch(0.627 0.194 149.214);  */
  --brand: #1e3799;
  --brand-foreground: oklch(1 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.25 0 0);
  --text: var(--foreground);
  --text-h: oklch(0.15 0 0);
  --bg: var(--background);
  --border: oklch(0.922 0 0);
  --card: oklch(1 0 0);
  --card-foreground: var(--foreground);
  --popover: oklch(1 0 0);
  --popover-foreground: var(--foreground);
  --primary: var(--brand);
  --primary-foreground: var(--brand-foreground);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.45 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.922 0 0);
  --ring: var(--brand);
  --radius: 1.25rem;
  --sans: "Inter Variable", system-ui, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.01em;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

@theme inline {
  --font-sans: var(--sans);
  --font-mono: var(--mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-secondary: oklch(57.586% 0.11907 242.306);
}

/* #root {
  width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
} */

h1,
h2,
h3,
h4 {
  font-family: var(--sans);
  font-weight: 800;
  color: var(--text-h);
  line-height: 1.1;
}

.text-brand {
  color: var(--brand);
}
.bg-brand {
  background-color: var(--brand);
}
